<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Css stylesheet --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Which Burger Would You Like to Eat?</title>
	</head>
	<body>

		{{{ body }}}

	{{!-- Jquery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {{!-- Javascript stylesheet --}}
	<script src="/assets/js/burgers.js"></script>

</body>
</html>